CREATE OR ALTER PROCEDURE CalcularPremioSpin
    @id_spin INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @premio_total INT = 0;

    -- Aquí va la lógica de combinación (ejemplo básico)
    -- Horizontal, vertical y diagonal
    -- Recorremos filas y columnas (esto se puede expandir según reglas)
    SELECT @premio_total = SUM(P.valor)
    FROM Detalle_Spin DS
    INNER JOIN Combinacion C ON DS.fila = C.cantidad_simbolos -- lógica simplificada
    INNER JOIN Premio P ON C.id_premio = P.id_premio
    WHERE DS.id_spin = @id_spin;

    UPDATE Spin
    SET premio_total = @premio_total,
        resultado_total = CASE WHEN @premio_total > 0 THEN 1 ELSE 0 END
    WHERE id_spin = @id_spin;

    SELECT * FROM Spin WHERE id_spin = @id_spin;
END

