ALTER PROCEDURE [dbo].[ActualizarSaldoSpin]
    @id_usuario INT,
    @resultado_total INT,
    @apuesta INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Si ganó, suma premio, si no, resta la apuesta
    UPDATE Usuario
    SET saldo = saldo + @resultado_total - @apuesta
    WHERE id_usuario = @id_usuario;
END
