USE [Tragamonedas]
GO

CREATE OR ALTER PROCEDURE EjecutarSpin
    @id_usuario INT,
    @apuesta INT,
    @tipo_apuesta NVARCHAR(20) = 'todas'
AS
BEGIN
    SET NOCOUNT ON;

    -- Variables
    DECLARE @id_spin INT;
    DECLARE @filas INT = 3;
    DECLARE @columnas INT = 5;
    DECLARE @f INT;
    DECLARE @c INT;
    DECLARE @id_simbolo INT;
    DECLARE @premio_total INT = 0;
    DECLARE @curr INT;
    DECLARE @last INT;
    DECLARE @count INT;
    DECLARE @id_comb INT;
    DECLARE @valor INT;

    -- 1. Insertar spin
    INSERT INTO Spin (id_usuario, apuesta, tipo_apuesta)
    VALUES (@id_usuario, @apuesta, @tipo_apuesta);
    SET @id_spin = SCOPE_IDENTITY();

    -- 2. Insertar detalle spin con símbolos aleatorios
    SET @f = 1;
    WHILE @f <= @filas
    BEGIN
        SET @c = 1;
        WHILE @c <= @columnas
        BEGIN
            SELECT TOP 1 @id_simbolo = id_simbolo
            FROM Simbolo
            ORDER BY NEWID();

            INSERT INTO Detalle_Spin (id_spin, id_simbolo, fila, columna)
            VALUES (@id_spin, @id_simbolo, @f, @c);

            SET @c += 1;
        END
        SET @f += 1;
    END

    -- 3. Función interna para evaluar combinaciones
    -- Horizontal
    IF @tipo_apuesta IN ('horizontal','todas')
    BEGIN
        SET @f = 1;
        WHILE @f <= @filas
        BEGIN
            SET @count = 1; SET @last = NULL;
            SET @c = 1;
            WHILE @c <= @columnas
            BEGIN
                SELECT @curr = id_simbolo
                FROM Detalle_Spin
                WHERE id_spin=@id_spin AND fila=@f AND columna=@c;

                IF @curr = @last
                    SET @count += 1;
                ELSE
                    SET @count = 1;

                IF @count >= 3
                BEGIN
                    SELECT TOP 1 @id_comb = id_combinacion
                    FROM Combinacion
                    WHERE tipo='horizontal' AND cantidad_simbolos=@count;

                    IF @id_comb IS NOT NULL
                    BEGIN
                        SELECT @valor = valor
                        FROM Premio
                        WHERE id_premio=(SELECT id_premio FROM Combinacion WHERE id_combinacion=@id_comb);
                        SET @premio_total += @valor;
                    END
                END

                SET @last = @curr;
                SET @c += 1;
            END
            SET @f += 1;
        END
    END

    -- Vertical
    IF @tipo_apuesta IN ('vertical','todas')
    BEGIN
        SET @c = 1;
        WHILE @c <= @columnas
        BEGIN
            SET @count = 1; SET @last = NULL;
            SET @f = 1;
            WHILE @f <= @filas
            BEGIN
                SELECT @curr = id_simbolo
                FROM Detalle_Spin
                WHERE id_spin=@id_spin AND fila=@f AND columna=@c;

                IF @curr = @last
                    SET @count += 1;
                ELSE
                    SET @count = 1;

                IF @count >= 3
                BEGIN
                    SELECT TOP 1 @id_comb = id_combinacion
                    FROM Combinacion
                    WHERE tipo='vertical' AND cantidad_simbolos=@count;

                    IF @id_comb IS NOT NULL
                    BEGIN
                        SELECT @valor = valor
                        FROM Premio
                        WHERE id_premio=(SELECT id_premio FROM Combinacion WHERE id_combinacion=@id_comb);
                        SET @premio_total += @valor;
                    END
                END

                SET @last = @curr;
                SET @f += 1;
            END
            SET @c += 1;
        END
    END

    -- Diagonales
    IF @tipo_apuesta IN ('diagonal','todas')
    BEGIN
        -- Diagonal principal
        SET @count = 1; SET @last = NULL;
        DECLARE @d INT = 0;
        WHILE @d < @filas AND @d < @columnas
        BEGIN
            SELECT @curr = id_simbolo
            FROM Detalle_Spin
            WHERE id_spin=@id_spin AND fila=@d+1 AND columna=@d+1;

            IF @curr = @last
                SET @count += 1;
            ELSE
                SET @count = 1;

            IF @count >= 3
            BEGIN
                SELECT TOP 1 @id_comb = id_combinacion
                FROM Combinacion
                WHERE tipo='diagonal' AND cantidad_simbolos=@count;

                IF @id_comb IS NOT NULL
                BEGIN
                    SELECT @valor = valor
                    FROM Premio
                    WHERE id_premio=(SELECT id_premio FROM Combinacion WHERE id_combinacion=@id_comb);
                    SET @premio_total += @valor;
                END
            END

            SET @last = @curr;
            SET @d += 1;
        END
    END

    -- 4. Actualizar spin con premio
    UPDATE Spin
    SET premio_total=@premio_total, resultado_total=@premio_total
    WHERE id_spin=@id_spin;

    -- 5. Actualizar saldo usuario
    UPDATE Usuario
    SET saldo = saldo - @apuesta + @premio_total
    WHERE id_usuario=@id_usuario;

    -- 6. Devolver resultado
    SELECT @id_spin AS id_spin, @premio_total AS premio_total;
END
GO
