CREATE OR ALTER TRIGGER TR_ActualizarSaldo
ON Spin
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE u
    SET u.saldo = u.saldo - i.apuesta + i.premio_total
    FROM Usuario u
    JOIN inserted i ON u.id_usuario = i.id_usuario;
END
GO
