CREATE OR ALTER PROCEDURE insertUsuario

@nombres NVARCHAR(100),
@puntaje_acumulado INT = 100,
@partidas_jugadas int = 0 

as
begin
	insert into Usuario (nombre, puntaje_acumulado, partidas_jugadas)
	values (@nombres, @puntaje_acumulado, @partidas_jugadas)

end
go